.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
}

.btn {
    display: flex;
    align-items: center;

}

.edit-btn {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.edit-btn:hover {
    transform: scale(1.1);
    background-color: #005ce6;
}

label {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

input[type="checkbox"]:checked {
    background-color: #0077ff;
}